header {
  background-image: url("../img/header-darker.jpg");
}
header .header-content .header-content-inner p {
  font-size: 26px;
  color: rgba(255,255,255,0.85);
}
.navbar-default.affix .navbar-header .navbar-brand,
.navbar-default .navbar-header .navbar-brand,
.navbar-default.affix .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:hover {
  background-image: url("../img/exortech-logo-full-bold.png");
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
  color: transparent;
  font-size: initial;
}
.fa-stack .text-primary:hover {
  color: #000;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: rgba(0,0,0,0.2);
  }
  .navbar-default .navbar-header .navbar-brand {
    background-image: url("../img/exortech-logo-full-transparent.png");
  }
}
.social-buttons {
  font-size: 6px;
}
