sblue = #337ab7

.exortech
  .text-primary
    color: sblue

  .btn-xl
    background-color: sblue
    border-color: sblue
    color: white

  .navbar-nav > .active > a
    background-color: sblue

  .navbar-default .navbar-brand
  	color: white

  a
    color: sblue